@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('wavy-lines.svg');
}
